// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify

@import '~vuetify/src/styles/settings/_variables';

$alert-height: 47px;
$header-height: 64px;
$main-padding-top: $alert-height + $header-height;

$yellow50: #FFFBEB;
$yellow200: #FDE68A;
$yellow300: #FCD34D;
$yellow400: #FBBF24;
$yellow500: #F59E0B;
$yellow600: #D97706;

$gray100: #F2F2F2;
$gray200: #E0E0E0;
$gray300: #BDBDBD;
$gray500: #6B7280;
$gray600: #333333;
$gray700: #374151;
$gray800: #1F2937;
$gray900: #111827;

$red600: #DC2626;
